.App {
  text-align: center;
}

button {
  padding: 12px;
  width: 100px;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  background-color: #C55A11;
  color: white;
  border: 1px solid;
  text-decoration: none;
}

.tabela {
  width: 100%;
}

.tabela .Inpar {
  background-color: #F8D7CD;
}
.tabela .Par {
  background-color: #FCECE8;
}

.title {
  width: 100%;
  padding: 10px 35px 10px 35px ;
  background-color: #aa541b;
  font-size: 25px;
  color: white;
}

thead {
  background-color: #813c0e;
  width: 100px;
  height: 50px;
  color: white;
}
