.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  color: #C55A11;
}

a {
  border: 0;
  padding: 10px;
  width: 100px;
  /* height: 30px; */
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #C55A11;
  color: white;
  border: px solid;
  font-size: 1.4rem;
  text-decoration: none;
}

.aberturaCaixa{
  width: 150px;
}

input{
  display: inline-block;
  padding: 5px;
  margin: 10px;
  font-size: large;
  border-radius: 5px;
  color: #979696;
  border-color: #C55A11;
}