.App {
  text-align: center;
}


a, button {
  padding: 12px;
  width: 100px;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  background-color: #C55A11;
  color: white;
  border: 1px solid;
  text-decoration: none;
}

.buttonAbertura {
  padding: 2px ;
  width: 100px;
}

.titleVendas {
  padding: 10px;
  background-color: #813c0e;
  font-size: 30px;
  color: white;
}



.tabela .Inpar {
  background-color: #F8D7CD;
}
.tabela .Par {
  background-color: #FCECE8;
}

.tdVenderScroll{
  overflow-y: scroll;
}

.produtosVenda {
  margin: 0px;
  padding: 0px;
  min-height: 70px;
}

.bordaAbertura, tabela #titleUsuario{
  display: inline-block;
  align-items: center;
  border: 1px #813c0e;
  padding-bottom: 10px;
}


Table {
  text-align: center;
}

#tabelasCentralizadas {
  display: inline;
  align-items: center;
}

#buttonAbertura {
  width: 100%;
  font-size: medium;
}
/* * {
  align-content: center;
  align-items: center;
  padding: 1px;
} */

.title {
  display: inline-block;
  padding: 10px 35px 10px 35px ;
  background-color: #aa541b;
  font-size: 25px;
  color: white;
}

a {
  width: 82%;
}
select {
  width: 70px;
}

input, textarea {
  width: 120px;
}

textarea {
  height: 100px;
}

#cadastrar, #voltar, #fechar, #sangria, #confirmar{
  width: 100px;
}

#tabelasCentralizadas {
  display: inline-block;
  align-items: center;
}

#tabelaCentralizada th{
  padding: 10px;
}

.titleLogin, .titlePgto {
  color: #C55A11;
}

#botaoLogin {
  width: 100px;
}


thead {
  background-color: #813c0e;
  width: 100px;
  height: 50px;
  color: white;
}

#pagamento {
  background-color:#C55A11;
  height: 35px;
  color: white;
  font-size: large;
}